.projects {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20vh;
    margin-left: auto;
}

.projects-title {
    font-size: calc(72px);
    color: white;
}


.project-box {
    border-radius: 35px;
    width: 30em;
    height: 25em;
}
.image {
    width: 20em;
    height: 20em;
    border-radius: 100%;
}
.project-title {
    color: white;
    border-left: 2px solid #f6f6f6;
    padding-left: 1rem;
    width: 10%;
    font-size: 46px;
}
.project-subtitle {
    font-size: 23px;
    color: white;
}
.project-desctext {
    font-size: 18px;
    width: 60%;
    margin-left: .5rem;
    color: #e2e2e2;
}
.project-subtitle:hover {
    width: 65px;
    transition: width 1s;
}
.project-desc, .project-tech {
    margin-left: 2rem;
}

/* 
.rightBox {transform: skewY(2.5deg);}
.leftBox { transform: skewY(-2.5deg);}
*/

.column {
    width: 100%;
    margin-top: 2.5rem;
    justify-content: center;
    display: flex;
}
.slide-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: -1rem;
}

.button {
    background-color: #f6f6f6;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 1rem;
}

.button:hover {
    background-color: #c24ad8;
    transition: 0.4s ease-in-out 0s;
}