.profilebox {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;


    margin-top: 5rem;
    height: fit-content;
    padding-left: 5rem;
}

.profile-box-body {
    height:fit-content;
}
.profile-skills{

    display: flex;
    margin-left: -1rem;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
}
.profile-title {
    
    font-size: 2.5rem;
    color: #23272a;
    margin-top: 7rem;
    margin-bottom: 0.5rem;
}
.profile-p {
    color: #181b1d;
    width: 60%;
    margin-left: 2rem;
    font-size: 25px;
    margin-bottom: -17px;
}
.profile-list-title {
    margin-left: 2rem;
    color: #23272a;
}
.profile-list {
    display: flex;
    flex-direction: column;

    margin-left: 1rem;
    list-style-type: none;
}

li {
    margin-bottom: 3px;
}

.profileimage{

    border-left:3px solid #23272a;
}
.profileimage:hover {
    border-left:3px solid rgb(77, 248, 182);
}


@media screen and (max-width: 860px) {  
    .profile-skills{

        display: flex;
        margin-left: 1rem;
        width: fit-content;
        flex-direction: column;
        justify-content: center;
    }

 }