.box-text {
    color: white;
    text-align: center;
    padding-top: 19%;
}
#wave {
    background-image: url('../assets/wave.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.box-title {
    color: white;
    font-size: 72px;
}
.box-p {
    color:white;
    font-size: calc(72px/2);
}

.animate__animated.animate__slideInDown {
    --animation-duration: 15s;
    --animation-iteration-count: infinite;
}

#color {
    color:#FF2442;

}
#down {
    width: 3%;
    margin-top: 10%;
}
#down:hover {
    cursor: pointer;
}

#icon {
    width: 10%;
}

@media screen and (max-width: 640px) {
    body {   
      flex-direction: column;
    }
    #down {
        width: 15%;
        margin-top: 85%;
    }
  }