.box-text {
    color: white;
    text-align: center;
    padding-top: 19%;
}
#menu {
    position: absolute;
    top: 4%;
    left: 1%;
    width: 35px;

}
#wave {
    background-image: url('../assets/wave.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.box-title {
    text-shadow:
    0.025em 0.025em 0  #7fb0ff ,
    0.05em 0.05em 0 #c2e9fb;
    color: white;
    font-size: 72px;
}
.box-p {

    text-shadow:
    0.025em 0.025em 0  #7fb0ff ,
    0.05em 0.05em 0 #c2e9fb;


    color:white;
    font-size: calc(72px/2);
}

.animate__animated.animate__slideInDown {
    --animation-duration: 15s;
    --animation-iteration-count: infinite;
}


#color {
    color:#ffffff;
}
#color:hover {
    color:#2e2e2e;
}


#down {
    width: 3%;
    margin-top: 10%;
}
#down:hover {
    cursor: pointer;
}

#icon {
    width: 10%;
}

@media screen and (max-width: 640px) {
    body {   
      flex-direction: column;
    }
    #down {
        width: 15%;
        margin-top: 85%;
    }
  }