.about {
    height: fit-content;
    margin-bottom: 25em;
}
.decor {
    padding: 0;
    margin: 0;
    display: flex;
}
hr {
    transform: rotate(-90deg);
    margin: 0;
    width: 100%;
}
.skills-title {
    margin-top: 6rem;
    margin-left: 5rem;
    font-size: 72px;
    color: #ffffff;
}
.sub-title {
    font-size: 32px;
}
.about-paragraph {
    width: 25%;
    font-size: 25px;
    margin-left: 2rem;
    color: rgb(214, 214, 214);
}

.prg, .dzn {
    color: white;
    margin-left: 6rem;
}

.prg-active {
    width: 25px;
    border-bottom: 2px solid #ff3fd5;
}
.prg-active:hover {
    width: 150px;
    border-bottom: 2px solid #ff3fd5;
    transition: width 1s;
}
.dzn-active {
    width: 25px;
    border-bottom: 2px solid #3f6cff;
}
.dzn-active:hover {
    width: 75px;
    border-bottom: 2px solid #3f6cff;
    transition: width 1s;
}


.list-of-skills {
    font-size: 20px;
    list-style: none;
}

.itens-of-skills {
    color: #ffffff;
}

.itens-of-skills:hover {
    color: #6c6cfa;
    cursor: default;
    transition: 1s ease;
}
.itens-of-skills::before {
    content: "▸";
    margin-right: .5rem;
    color: #6c6cfa;
    list-style-type: none;
}
.itens-of-skills.pr::before {
    color: #ff3fd5;
}
.itens-of-skills.pr:hover {
    color: #ff3fd5;
    cursor: default;
    transition: 1s ease;
}


@media screen and (max-width: 600px) {
    .about {
        height: fit-content;
    }
}