.header {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-left: 2rem;
    height: 75vh;
}

.header-title {
    margin: 0;
    font-size: 72px;
    margin-top: 2rem;
    text-align: center;
    color: white;
}
#color{color:crimson;}
a {
    text-decoration: none;
    color: white;
}

.header-nav{
    margin-left: -5rem;
    
    display: flex;
    justify-content: center;
}
.header-nav-list {
    display: flex;
    justify-items: center;
    list-style: none;
}

.header-nav-item { 
    margin: 1rem;
    color: white;
}