.box-profile {
    display: flex;
    flex-direction: column;

    background-color: snow;
    padding: 1rem;


    box-shadow: 14px 15px 1px rgba(27, 26, 26, 0.308);
    border-radius: 25px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    width: fit-content;
    height: 50rem;
}

.box-lg {
    color:#526b95;
    width: 25%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 4rem;

    border-radius: 12px;
}

.imgsrc {
    margin-right: 5px;
}

.box-user{
    margin-right: 1.5%;
    margin-left: 10px;
    color:#5a7fbe;
    width: fit-content;

}

ul, li {
    font-size: 19px;
    list-style: none;
}

p {
    font-size: 18px;
}
.bio-icons{
    margin-right: 10px;
    width: 20px;
}


.avatar {
    width: 7rem;
    height: 7rem;

    margin-top: -4rem;

    box-shadow: 6px 3px 2px #00000060;
    border-radius: 50%;
    object-fit: cover;

}

.user {
    margin-top: 0rem;
    color:#7193ce;

}