html {
    min-height: 110vh;
}

body {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;


    background-color: #E4CF98;
}


@keyframes star {
    0% {transform: rotate(4deg);}
    50% {transform: rotate(-5deg);}
    100% {transform: rotate(17deg);}
    0% {transform: rotate(7deg);}
    20% {transform: rotate(4.5deg);}
}

@keyframes waves {
    from {margin-top:0%;}
    to {margin-top: 12%}
  }


.waves {
    width: 100%;
}

.wave {
    background-image: url('firstwave.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    margin-bottom: -8rem;
}

#wavestwo {
    animation-name: wavesdown;
    animation-delay: 15s;
    animation-iteration-count: infinite;


    width: 100%;

}



#star1 {
    animation-name: star;
    animation-duration: 25s;
    animation-iteration-count: 2;

    opacity: 0;

    position: absolute;
    top: 35%;
    left: 1.5%;

}

#star2 {
    opacity: 0;
    animation-name: star;
    animation-duration: 25s;
    animation-iteration-count: 2;

    position: absolute;
    left: 90%;
    top: 50%
}